.form-section {
  margin-top: 20px;
}
.card {
  margin-bottom: 20px;
}
.card-header {
  background-color: #343a40;
  color: white;
}
.btn-submit {
  background-color: #2b74bd;
  color: white;
}
.list-group-item {
  margin-bottom: 10px;
}
